{% extends 'pets/base.html' %}
{% load static %}

{% block title_block %}
     About Shop4Pets
{% endblock %}

{% block body_block %}
     <h1>Welcome to our online pet store, Shop4Pets</h1>

     <div>
         We are passionate about connecting pets with their forever homes.
         Our mission is to provide a platform for responsible pet lovers to come together
         and make a positive impact on the lives of animals. We offer a wide range of
         lovingly raised and well-cared-for pets, including dogs, cats, birds, and small animals,
         all of whom are ready to find their new families. Our team is dedicated to providing
         a seamless and enjoyable experience for both our pets and our customers, ensuring that
         each adoption is a happy and successful one. <br />
         <strong>Thank you for choosing us as your go-to destination for all your pet-related needs.</strong><br />
     </div>

         <h2>OUR TEAM</h2>
    <div>
             At our pet store, we have a dedicated team of animal lovers who are passionate about
             providing the best possible care for our pets and creating a positive experience for our customers.
             Our team is made up of Stella, Leen, Jakub, Ahmed and Nasser. We believe that every pet deserves a loving
             home and strive to make that happen through our adoption process. Our team is always available to answer
             any questions you may have and provide guidance throughout the adoption process. We are committed to
             making a difference in the lives of animals and are grateful for the opportunity to do so through our work.
    </div>

         <img src="{% static 'images/puppies.jpg' %}" alt="Picture of Shop4Pets" />
         <img src="{{ MEDIA_URL}}MaineCoon.jpg" alt="Picture of MaineCoon" />
     </div>
{% endblock %}
