<!DOCTYPE html>
{% load static %}
{% load pets_template_tags %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">

<html>
    {% block header_block %}
    <header lang="en">
    <nav>
        <div class="logo-search" id="logoSearch">
            <a href="#"><img src="{% static 'images/logo.png' %}" alt="Shop4Pets logo" id = "logo"> </a>
            <h1 id = "Title">Welcome to Shop4Pets </h1>
            {% if user.is_authenticated %}
                <li><a href="{% url 'pets:add_advert' %}">Create a New Pet Advert</a></li>
                <li><a href="{% url 'pets:restricted' %}">Restricted Page</a></li>
                <li><a href="{% url 'pets:logout' %}">Logout</a></li>
            {% else %}
            <div id="login">
                <button id="loginButton"><img src="{% static 'images/login.png' %}" id="loginIcon"><br>Login/SignUp</button>
                <div id="loginDropdown">
                    <a href="{% url 'pets:login' %}">Login</a>
                    <a href="{% url 'pets:register' %}">Sign Up</a>
            {% endif %}
                </div>
            </div>
        </div>
    </nav>
        <meta charset="UTF-8" />
    </header>
    {% endblock %}
    <body>
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
        <div>
             <!--{% block sidebar_block %}-->
                 {% get_category_list %}
             {% endblock %}
        </div>
        <hr />
        <div>
            {% block footer %}
                <footer>
                <div class="footer-content">
                    <div class="logo">
                        <a href="#"><img src="{% static 'images/logo.png' %}" alt="Shop4Pets logo" id= "logo"></a>
                </div>
                <div class="socials">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
        </div>
            <ul>
                    <li><a href="{% url 'pets:about' %}">About</a></li>
                    <li><a href="{% url 'pets:home' %}">Homepage</a></li>
                    <li><a href="{% url 'pets:reviews' %}">Reviews</a></li>
                    <li><a href="{% url 'pets:faq' %}">FAQ</a></li>
            </ul>
                <div class="footer-bottom">
                    <p>© 2023 Shop4Pets. All Rights Reserved.</p>
                </footer>
            {% endblock %}
        </div>
    </body>
</html>