<!DOCTYPE html>
{% load static %}
{% load pets_template_tags %}

<html>
    <head lang="en">
        <link rel="stylesheet" href="../../static/css/base.css">
        <meta charset="UTF-8" />
        <title>
            Shop 4 Pets -
            {% block title_block %}
                Welcome to the Shop 4 Pets webpage!
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
        <div>
             <!--{% block sidebar_block %}-->
                 {% get_category_list %}
             {% endblock %}
        </div>
        <hr />
        <div>
            {% block footer %}
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'pets:add_advert' %}">Create a New Pet Advert</a></li>
                    <li><a href="{% url 'pets:restricted' %}">Restricted Page</a></li>
                    <li><a href="{% url 'pets:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'pets:register' %}">Sign Up</a></li>
                    <li><a href="{% url 'pets:login' %}">Login</a></li>
                {% endif %}
                    <li><a href="{% url 'pets:about' %}">About</a></li>
                    <li><a href="{% url 'pets:home' %}">Homepage</a></li>
            </ul>
            {% endblock %}
        </div>
    </body>
</html>