{% extends "pets/base.html" %}
{% block title_block %}
     FAQ
{% endblock %}

{% block body_block %}
    <h1>FREQUENTLY ASKED QUESTIONS</h1>
    <hr>
<div>
    Q: What kinds of pets can I buy or sell on your website?<br>
    A: Our website allows for buying and selling of various types of pets, including dogs, cats, birds, fish and small
    animals like hamsters and rabbits.
</div>
<div>
    Q: Is it safe to buy pets online?<br>
    A: We do our best to ensure that all sellers on our website are legitimate, but we cannot
    guarantee their trustworthiness. We recommend meeting with the seller in person and seeing the pet before making a purchase.
</div>
<div>
    Q: How do I contact a seller?<br>
    A: Click on the pet listing you are interested in and scroll down to find the seller's contact information. .
</div>
<div>
    Q: How do I search for pets on your website?<br>
    A: You can use the search bar on the homepage to search for specific types of pets, such as "dogs" or "cats."
    You can also browse by category.
</div>
<div>
    Q: How do I post a pet for sale on your website?<br>
    A: Once you are logged in or created an account, click on the "Create a New Pet Advert" button on the homepage
    and follow the instructions to create a pet listing. You will need to provide details about the pet, including
    photos, price, location and your contact information.
</div>
{% endblock %}