{% extends 'pets/base.html' %}
{% load static %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <div id = "Login">
    <h1>Login to Shop4Pets</h1>
    <link rel="stylesheet" href="../../static/css/base.css">
<form id="login_form" method="post" action="{% url 'pets:login' %}">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    <input type="submit" value="submit" />
</form>
    </div>

{% endblock %}
