{% extends "pets/base.html" %}
{% block title_block %}
     Our Reviews
{% endblock %}

{% block body_block %}
    <h1>READ WHAT OUR CUSTOMERS HAVE SAID!</h1>
    <h1>Customer Reviews</h1>
<div>
    <h2>Leah</h2>
    "I purchased a beautiful golden retriever from this website and couldn't be happier with my experience.
    The customer service was exceptional and the process was easy and straightforward. My new pup is healthy, happy,
    and an absolute joy to have in my life."
</div>
<div>
   <h2>Susan</h2>
    "I was a bit hesitant to buy a pet online, but this website put all my worries at ease. The staff was incredibly
    knowledgeable and helpful throughout the entire process, and my new kitten is the sweetest little thing.
    I would highly recommend this website to anyone in the market for a new furry friend."
</div>
<div>
    <h2>Harry</h2>
    "I recently adopted a rescue dog from this website and it was one of the best decisions I've ever made.
    The staff was so caring and compassionate, and they really went above and beyond to make sure that my new dog
    was a good fit for me and my lifestyle. I am so grateful to have found such a
    wonderful companion through this website."
</div>
<div>
    <h2>Rebecca</h2>
    "I have been a repeat customer of this website for years, and I am always impressed by the quality of their pets and
    the level of care they provide. I have purchased both dogs and cats from them and every single one has been a loving
    and healthy addition to my family. I would highly recommend this website to anyone looking for a new pet."
</div>
<div>
    <h2>George</h2>
    "I recently lost my beloved dog of 10 years and was hesitant to start the process of finding a new pet. But after
    browsing this website and seeing all the beautiful animals they have available, I knew it was time.
    The staff was so kind and understanding throughout the entire process, and I ended up finding the perfect
    new furry friend to fill the hole in my heart. Thank you so much for everything."
</div>
{% endblock %}
